@model TourPlanner.Models.model.tblPackage
@{
    /**/

    ViewBag.Title = "AddDestination";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMaster.cshtml";

}

<style>
    .form-group {
        background-color: #fff !important;
        padding:4px;
    }

    .form {
        background-color: #fff !important;
    }

    input {
        background-color: #f3f7f9 !important;
    }

    span {
        color: #333;
    }

    .image {
        border: 1px solid #f2f2f2;
        background-color: #f3f7f9;
    }

    h4 {
        color: #f2f2f2;
    }

    .panel-heading {
        background-color: #ff5a5f;
    }
    
</style>

<link href="~/Content/AddDestination.css" rel="stylesheet" />
@using (Html.BeginForm("AddDestination", "Home", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
    <div class="row" style="margin-top:120px;">
        <div class="col-lg-5 col-lg-offset-1">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="text-center">Add Destination</h4>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="name">Image</label>
                        <div class="image" style="width:300px;height:150px;">
                            <img src="" id="imagePreview" alt="Preview Image" style="width:300px;height:150px;" />
                            <input type="file" name="file" id="file" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name"> Packagename </label>

                    @Html.TextBoxFor(model => model.Packagename, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="name"> Destination Name</label>

                    @Html.TextBoxFor(model => model.PackageDescription, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-danger" type="submit">ADD</button>
                </div>

            </div>
        </div>

    </div>

}
<script>
    $('#file').change(function () {
        readImgUrlAndPreview(this);
        function readImgUrlAndPreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').attr('src', e.target.result);
                }
            };
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>
